.chat_list {
    border:1px solid #ccc;
    border-radius:10px;
    padding: 5px;
    max-height:400px;
    overflow-y: scroll;
}

.chat_list li {
    list-style:  none;
}

.chat_list li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    margin-bottom: 2px;
    color: black;
}


.system {
   margin-left: 50px;
   font-style: italic;
}

.me {
    float: right;
    border-radius:10px;
    background: green;
}

.them {
    float: left;
    border-radius:10px;
    background: blue;
}

#message {
    width:100%
}